* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Gabarito", serif;
}


.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    position: sticky;
    top: 0px;
    z-index: 3;
    background-color: white;
    
}

.navbar__s1__tittle {
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: #AF4EF2;
}

.navbar__s2 {

    width: 60%;


}
.bar{
    display: none;
}

.navbar__s2__input {
    display: flex;
    gap: 10px;
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    
    

}

.navbar__s2 input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline:none;

}

.navbar__s3 {
    padding: 10px;
    display: flex;
    gap: 10px;
    
    
    
}
.my__learn__s1{
    position: relative;

}
.my__learn__pop{
    position: relative;
    cursor: pointer;
}

.my__learn{
    padding: 10px;
    width: 100px;
    border: solid 1px;
   position: absolute;
    top: 30px;
    right: 30px;
    background-color: white;
    display: none;
    
}
.my__learn__pop:hover .my__learn{
    
    display: block;
}

.cate {
    padding: 10px;
    display: flex;
    border-bottom: solid 1px;
    justify-content: space-around;
}

.cate p {
    background-color: #AF4EF2;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    border: #AF4EF2 solid 1px;
}
.cate p:hover{
    color: black;
    background-color: transparent;
    border: #AF4EF2 solid 1px;

}
.main__image img {
    width: 100%;
   
}
.main__image{
    position: relative;
}

.main__image__para{
    width: 30%;
    padding: 10px;
    border: solid 2px;
    position: absolute;
    top: 50px;
    left: 20%;
    background: white;
    animation-name: zoom;
    animation-duration: 10s;

    
}
@keyframes zoom{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.recom__card {
    flex-grow: 1;
    flex-basis: 20%;
}

.recom__card img {
    width: 100%;
    height: 200px;
}

.recom__container {
    padding: 20px;
}

.recom__container1 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.Topic {
    padding: 10px;
}

.Topics__box{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.Topics__box p{
    padding: 10px;
    border: 1px grey solid;
    flex-grow:1;
    flex-basis:25%;
}
.Popular{
    padding: 10px;
}
.Popular__s1{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.footer{
    padding: 10px;
    background-color: black;
    color: white;
}
.footer1{
    padding: 10px;
    display: flex;
}
.footer1_s1,.footer1_s2{
    padding: 10px;
    margin: 10px;
}
.footer1_s1 p ,.footer1_s2 p{
    padding: 10px;
}
.footer2{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:800px){
    body{
        font-size: 10px;
    }
    
}


@media screen and (max-width:600px){

    .navbar__s3,.cate,.main__image__para,.navbar__s2{
        display: none;
    }
    .bar{
        display: block;
    }
    .recom__card{
        flex-grow: 1;
        flex-basis:40%;
    }
    
}
